/*
	Author: Lily Campitelli
	Company: Dotfusion
	Desc: Main stylesheet
*/
/* BASE - Base Styles, variables, mixins, etc */
/* Font Colors */
/*Bold Font*/
/* Background Colors */
/* Mixins */
/*Similar to Functions*/
/* line 1, ../scss/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 5, ../scss/base/_normalize.scss */
a:hover, a:focus {
  color: #f8991d;
}

/* line 1, ../scss/base/_base.scss */
body {
  font-family: "Montserrat-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 17px;
  line-height: 1.7em;
  font-weight: 100;
  color: #212020;
}

/* line 9, ../scss/base/_base.scss */
a {
  color: #fff;
}

/* line 13, ../scss/base/_base.scss */
ul, li {
  list-style: none;
}

/* line 17, ../scss/base/_base.scss */
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 21, ../scss/base/_base.scss */
.block {
  padding: 20px;
  margin: 25px 0;
}

/* MODULES - Individual site components */
@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/Montserrat-regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: Montserrat-Light;
  src: url("../fonts/Montserrat-Light.otf") format("opentype");
}

@font-face {
  font-family: Montserrat-Hairline;
  src: url("../fonts/Montserrat-Hairline.otf") format("opentype");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat-Bold.otf") format("opentype");
}

@font-face {
  font-family: Montserrat-Black;
  srr: url("../fonts/Montserrat-Black.otf") format("opentype");
}

/* line 27, ../scss/modules/_typography.scss */
.fa-style-1 {
  margin: 0 71px;
  color: #dd1831;
}

/* line 32, ../scss/modules/_typography.scss */
.fa-style-2 {
  margin: 0 40px;
  color: #323436;
}

/* line 37, ../scss/modules/_typography.scss */
.fa-style-3 {
  margin: 0 40px;
  color: #fff;
}

/* line 42, ../scss/modules/_typography.scss */
.fa-style-4 {
  margin: 0 71px;
  color: #dd1831;
}

/* line 47, ../scss/modules/_typography.scss */
.fa-icon-background1 {
  margin: -33px 0px;
  color: #fff;
}

/* line 52, ../scss/modules/_typography.scss */
.fa-icon-background2 {
  margin: -33px 10px;
  color: #fff;
}

/* line 57, ../scss/modules/_typography.scss */
.fa-icon-background3 {
  margin: -37px 4px;
  color: #dc172f;
}

/* line 62, ../scss/modules/_typography.scss */
.fa-height {
  height: 1.3em;
}

/* line 66, ../scss/modules/_typography.scss */
.quote-left {
  float: left;
  font-family: "Montserrat-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 450%;
  height: 0px;
  width: 6%;
  color: #dd1831;
  padding-top: 15px;
  padding-right: 0px;
}

/* line 77, ../scss/modules/_typography.scss */
.quote-left2 {
  float: left;
  font-family: "Montserrat-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 450%;
  height: 0px;
  width: 10%;
  color: #dd1831;
  padding-top: 15px;
  padding-right: 0px;
}

/* line 88, ../scss/modules/_typography.scss */
.quote-right {
  float: right;
  font-family: "Montserrat-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 450%;
  height: 0px;
  width: 66%;
  color: #dd1831;
  padding-top: 15px;
  padding-right: 0px;
}

/* line 99, ../scss/modules/_typography.scss */
.quote-right2 {
  float: right;
  font-family: "Montserrat-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 450%;
  height: 0px;
  width: 68%;
  color: #dd1831;
  padding-top: 15px;
  padding-right: 0px;
}

/* line 112, ../scss/modules/_typography.scss */
.intro {
  line-height: 22px;
  color: #fff;
  font-size: 1em;
}

/* line 118, ../scss/modules/_typography.scss */
.intro-2 {
  text-align: left;
  margin-top: 50px;
  line-height: 22px;
  color: #fff;
  font-size: 1em;
}

/* line 126, ../scss/modules/_typography.scss */
.first-line {
  font-size: 20px;
  font-family: "Montserrat-Bold", "Helvetica-Neue", Arial, sans-serif;
}

/* line 2, ../scss/modules/_blocks.scss */
.block-quote-font {
  color: #2d1e59;
}

/* line 6, ../scss/modules/_blocks.scss */
.block-light-font {
  color: #e5e5e5;
}

/* line 10, ../scss/modules/_blocks.scss */
.block-medium-font {
  text-align: center;
  line-height: 25px;
  color: #212020;
}

/* line 16, ../scss/modules/_blocks.scss */
.block-dark-font {
  color: #212020;
}

/* line 21, ../scss/modules/_blocks.scss */
.block-light {
  background-color: #e5e5e5;
}

/* line 25, ../scss/modules/_blocks.scss */
.blockquote-line {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-left: none;
  padding-left: 0px;
  margin-top: 20px;
}

/* line 35, ../scss/modules/_blocks.scss */
.p-light {
  line-height: 22px;
}

/* line 39, ../scss/modules/_blocks.scss */
.p-red {
  text-align: center;
  color: #fff;
  line-height: 22px;
}

/* line 45, ../scss/modules/_blocks.scss */
.p-light-blue {
  line-height: 22px;
  text-align: center;
}

/* line 1, ../scss/modules/_buttons.scss */
.btn-custom {
  background: #212020;
}

/* line 5, ../scss/modules/_buttons.scss */
.button-style {
  margin-top: 14px !important;
}

/* line 1, ../scss/modules/_sections.scss */
.section-dark {
  padding: 30px 0;
  background: #212020;
}

/* line 6, ../scss/modules/_sections.scss */
.section-light {
  margin: 15px 0;
  background-color: #f1f5f9;
}

/* line 11, ../scss/modules/_sections.scss */
.section-red {
  padding: 60px 0;
  background-color: #dd1831;
}

/* line 16, ../scss/modules/_sections.scss */
.section-hero {
  background: url("../img/section1-bg.jpg") repeat-y;
  background-size: cover;
  padding: 150px 0 100px 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

/* line 27, ../scss/modules/_sections.scss */
.section-1 {
  margin: 50px 0;
}

/* line 31, ../scss/modules/_sections.scss */
.section-hero-2 {
  background: url("../img/section1-bg.jpg") repeat-y;
  background-size: cover;
  padding: 150px 0 159px 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

/* line 41, ../scss/modules/_sections.scss */
.section-light-blue {
  background: #f1f5f9;
  padding: 50px 0 100px 0;
}

/* line 46, ../scss/modules/_sections.scss */
.col-spacer-lg {
  height: 150px;
}

/* line 50, ../scss/modules/_sections.scss */
.col-spacer {
  height: 100px;
}

/* line 54, ../scss/modules/_sections.scss */
.col-spacer-md {
  height: 50px;
}

/* line 2, ../scss/modules/_rows.scss */
.row-highlight {
  margin-top: 20px;
  font-family: "Montserrat-Bold", "Helvetica Neue", Arial, sans-serif;
}

/* line 7, ../scss/modules/_rows.scss */
.row-phone {
  margin-top: 60px;
}

/* line 11, ../scss/modules/_rows.scss */
.row-white {
  margin-top: 20px;
}

@media (max-width: 768px) {
  /* line 18, ../scss/modules/_rows.scss */
  .row-highlight h3 {
    font-size: 17px !important;
  }
}
/* LAYOUTS - Page layout styles */
/* Navbar */
/* line 3, ../scss/layouts/_nav.scss */
.navbar {
  margin: auto;
}

/* line 7, ../scss/layouts/_nav.scss */
.nav-bg {
  background: #dd1831;
  padding: 20px 0;
}

/* line 12, ../scss/layouts/_nav.scss */
.nav-links {
  font-family: "Montserrat-Bold", "Helvetica Neue", Arial, sans-serif;
}

/* line 16, ../scss/layouts/_nav.scss */
.nav-back-li {
  font-family: "Montserrat-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: url("../img/left-round.png") no-repeat;
  width: 134px;
  height: 44px;
  margin-left: 11px;
}

/* line 24, ../scss/layouts/_nav.scss */
.nav-back-ul li a {
  font-family: "Montserrat-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 13px;
}

/* line 32, ../scss/layouts/_nav.scss */
.nav-back-li a {
  margin-left: 20px;
  text-align: center;
}

/* line 39, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-nav > .active-nav > a,
.navbar-inverse .navbar-nav > .active-nav > a:hover,
.navbar-inverse .navbar-nav > .active-nav > a:focus {
  color: #dd1831;
  background-color: transparent;
  background: url("../img/right-round.png") no-repeat;
  width: 128px;
  height: 47px;
  margin: 0 15px;
}

/* line 51, ../scss/layouts/_nav.scss */
.nav-explore-ul {
  font-family: "Montserrat-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-right: 0px;
}

/* line 60, ../scss/layouts/_nav.scss */
.nav-phrase {
  font-family: "Montserrat-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 17px;
  padding-top: 7px;
  padding-left: 30px;
  color: #fff;
}

/* line 69, ../scss/layouts/_nav.scss */
#slash {
  font-size: 23px;
  color: #000;
  vertical-align: -2px;
}

@media (max-width: 768px) {
  /* line 76, ../scss/layouts/_nav.scss */
  .nav-bg {
    padding-left: 15px !important;
    padding-right: 22px !important;
  }

  /* line 81, ../scss/layouts/_nav.scss */
  .nav-explore-ul {
    text-align: right;
  }

  /* line 85, ../scss/layouts/_nav.scss */
  .nav-explore-ul li a {
    font-family: "Montserrat-Bold", "Helvetica Neue", Arial, sans-serif;
    padding-right: 10px;
    padding-left: 8px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    text-align: center;
  }

  /* line 94, ../scss/layouts/_nav.scss */
  .nav-menu-icon {
    margin-right: 22px;
  }

  /* line 100, ../scss/layouts/_nav.scss */
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff !important;
    background-color: #212020 !important;
    border-radius: 19px;
  }

  /* line 108, ../scss/layouts/_nav.scss */
  .navbar-inverse .nav-back-ul > .active > a,
  .navbar-inverse .nav-back-ul > .active > a:hover,
  .navbar-inverse .nav-back-ul > .active > a:focus {
    background-color: transparent !important;
  }
}
@media (max-width: 991px) {
  /* line 115, ../scss/layouts/_nav.scss */
  .nav-phrase {
    font-size: 12px !important;
    margin-left: 0px !important;
  }
}
/* line 1, ../scss/layouts/_header.scss */
.page-header {
  margin-top: 30px;
}

/* line 5, ../scss/layouts/_header.scss */
.page-header-hero {
  color: #fff;
  font-size: 50px;
  font-family: "Montserrat-Hairline", "Montserrat-Light", "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  text-transform: uppercase;
  border-bottom: none;
  font-weight: 100;
  margin-bottom: 50px;
  line-height: 42px;
}

/* line 16, ../scss/layouts/_header.scss */
.page-header-hero2 {
  color: #fff;
  font-size: 50px;
  font-family: "Montserrat-Hairline", "Montserrat-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  text-transform: uppercase;
  text-align: left;
  border-bottom: none;
  font-weight: 100;
  margin-bottom: 50px;
  line-height: 42px;
}

/* line 28, ../scss/layouts/_header.scss */
.page-header-font-light {
  color: #e5e5e5;
  border-bottom: none;
}

/* line 33, ../scss/layouts/_header.scss */
.page-header-font-dark {
  text-align: center;
  font-family: "Montserrat-Bold", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  color: #212020;
  border-bottom: none;
}

/* line 43, ../scss/layouts/_header.scss */
.page-header-font-white {
  font-family: "Montserrat-Bold", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  border-bottom: none;
}

/* line 52, ../scss/layouts/_header.scss */
.page-header-center {
  text-align: center;
}

/* Footer */
/* line 3, ../scss/layouts/_footer.scss */
.footer-bottom {
  background-color: #101010;
}

/* line 7, ../scss/layouts/_footer.scss */
.container-footer {
  padding: 20px 0;
}

/* line 11, ../scss/layouts/_footer.scss */
.foot-text {
  font-family: "Montserrat-Bold", "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
}

/* line 18, ../scss/layouts/_footer.scss */
.foot-text-v {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

/* line 26, ../scss/layouts/_footer.scss */
.footer-main li a {
  color: #9d9d9d;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

/* line 33, ../scss/layouts/_footer.scss */
.footer-main li a:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

/* line 39, ../scss/layouts/_footer.scss */
#link {
  text-decoration: underline;
}
